// $Id$ Custom variables for the Raspberry theme option of the FiveAlive and FiveAlive-lite themes

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$light: #e10c7c;
$primary: #e10c7c;

$bg-light: #e10c7c !important;
$link-color: #b51360;
$link-hover-color: #e10c7c;
$btn-primary-color: #ffffff;
$btn-primary-bg: #e10c7c;
$btn-primary-border: #f588c1;
$btn-primary-focus-color: #ffffff;
$btn-primary-focus-bg: #b50964;
$btn-primary-border: #ea1484;
$btn-primary-hover-color: #ffffff;
$btn-primary-hover-bg: #b50964;
$btn-primary-hover-border: #f050a4;
$btn-primary-active-color: #ffffff;
$btn-primary-active-bg: #b50964;
$btn-primary-active-border: #f050a4;
$btn-primary-active-hover-bg-color: #930751;
$btn-primary-active-hover-border: #ea1484;
$btn-primary-disabled-hover: #e10c7c;
$btn-primary-disabled-border: #f588c1;
$btn-primary-badge-color: #e10c7c;
$btn-primary-badge-bg: #ffffff;
// $btn-secondary-color: ;
// $btn-secondary-bg: ;
// $btn-secondary-border: ;
// $btn-secondary-focus-color: ;
// $btn-secondary-focus-bg: ;
// $btn-secondary-focus-border: ;
// $btn-secondary-hover-color: ;
// $btn-secondary-hover-color: ;
// $btn-secondary-hover-border: ;
// $btn-secondary-active-color: ;
// $btn-secondary-active-bg: ;
// $btn-secondary-active-border: ;
// $btn-secondary-active-hover: ;
// $btn-secondary-active-hover-border: ;
// $btn-secondary-disabled-hover-color: ;
// $btn-secondary-disabled-hover-border: ;
// $btn-secondary-badge-color: ;
// $btn-secondary-badge-bg: ;

$btn-info-color: #282828;
$btn-info-bg: #e5d7dc;
$btn-info-border: #e5d0cf;
// $btn-info-focus-color: ;
// $btn-info-focus-bg: ;
// $btn-info-focus-border: ;
$btn-info-hover-color: $btn-info-color;
$btn-info-hover-bg: lighten($btn-info-bg, 10%);
$btn-info-hover-border: lighten($btn-info-border, 10%);
// $btn-info-active-color: ;
$btn-info-active-bg: darken($btn-info-bg,5%);
// $btn-info-active-border: ;
// $btn-info-active-hover: ;
// $btn-info-active-hover-border: ;
// $btn-info-disabled-hover-color: ;
// $btn-info-disabled-hover-border: ;
// $btn-info-badge-color: ;
// $btn-info-badge-bg: ;

$navbar-dark-color: #fff;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;


$hr-border-color: #e10c7c;

$navbar-fixed-top-bg: #b50964;
$bg-dark: #b50964;
$bg-light: #e60b7f;
$card-border-color: #e60b7f;

$table-border-color: #f459ab;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$input-color: #555555;
$input-bg: #f9dcec;
$input-border-color: #fa9ccd;
$input-border-top-color: #fa9ccd;
$input-border-right-color: #fcf6f9;
$input-border-bottom-color: #fcf6f9;
$input-border-left-color: #fa9ccd;

$dropdown-bg: #771437;
$dropdown-border-color: rgba(0, 0, 0, 0.15);

$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #61102d;
$dropdown-link-active-color: #f2f2f2;
$dropdown-link-active-bg: #e60b7f;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$nav-tabs-link-color: #000;
$nav-tabs-link-bg: $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: $dropdown-link-hover-bg;


$nav-pills-link-active-bg: #b51360;
$pagination-color: #b51360;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #e10c7c;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #b51360;
$pagination-active-border-color: #b51360;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

$theme-colors: (
		"light":			#e60b7f,
		"dark":				#b50964
);

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
//$bg-light-alt: #117485 !important;

$side-column-heading-color: #e60b7f;

$middle_outer-inset-shadow-bg: #35061d;
$footer_liner-card-inner-border: #eb0a82;

$footer-accent-color: #eb0a82;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #771437;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #61102d;

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

$chosen-container-multi-choices-bg: #ffffff;
$chosen-container-multi-choices-color: #555555;
$chosen-container-multi-choices-border: #fa9ccd;
$chosen-container-single-bg: #f9dcec;
$chosen-container-single-color: #555555;
$chosen-container-single-border: #fa9ccd;
$chosen-container-single-input-bg: #f9dcec;
$chosen-container-single-input-border: #fa9ccd;
$chosen-container-chosen-results-li-highlighted-bg: #61102d;
$chosen-container-chosen-results-li-highlighted-color: #f2f2f2;
$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #e60b7f;
$autotoc-color: #b51360;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #61102d;
$middle_outer-inset-shadow-bg: #e60b7f;