// $Id$
//Custom styles for the FiveAliveHS Grape option theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$light: #a02871;

$bg-light: #a02871 !important;

$link-color: #a02871;
$link-hover-color: #a02871;

$btn-primary-color: #ffffff;
$btn-primary-bg: #a02871;
$btn-primary-border: #8e286a;
$btn-primary-focus-color: #ffffff;
$btn-primary-focus-bg: #661d4c;
$btn-primary-border: #8e286a;
$btn-primary-hover-color: #ffffff;
$btn-primary-hover-bg: #661d4c;
$btn-primary-hover-border: #5e1b46;
$btn-primary-active-color: #ffffff;
$btn-primary-active-bg: #661d4c;
$btn-primary-active-border: #5e1b46;
$btn-primary-active-hover-bg-color: #4a1538;
$btn-primary-active-hover-border: #8e286a;
$btn-primary-disabled-hover: #a02871;
$btn-primary-disabled-border: #8e286a;
$btn-primary-badge-color: #a02871;
$btn-primary-badge-bg: #ffffff;

// $btn-secondary-bg: #a02871;
// $btn-secondary-border: #8e286a;
// $btn-secondary-focus-bg: #661d4c;
// $btn-secondary-focus-border: #8e286a;
// $btn-secondary-hover-bg: #661d4c;
// $btn-secondary-border: #5e1b46;
// $btn-secondary-active-bg: #661d4c;
// $btn-secondary-border: #5e1b46;
// $btn-secondary-active-hover-bg: #5e1b46;
// $btn-secondary-active-hover-border: #8e286a;
// $btn-secondary-disabled-hover-color: #a02871;
// $btn-secondary-disabled-hover-border: #8e286a;
// $btn-secondary-badge-color: #a02871;
// $btn-secondary-bg-color: #ffffff;

$btn-info-color: #fff;
$btn-info-bg: #e5d7dc;
$btn-info-border: #e5d0cf;
// $btn-info-focus-color: ;
// $btn-info-focus-bg: ;
// $btn-info-focus-border: ;
$btn-info-hover-color: $btn-info-color;
$btn-info-hover-bg: lighten($btn-info-bg, 10%);
$btn-info-hover-border: lighten($btn-info-border, 10%);
// $btn-info-active-color: ;
$btn-info-active-bg: $btn-info-bg;
// $btn-info-active-border: ;
// $btn-info-active-hover: ;
// $btn-info-active-hover-border: ;
// $btn-info-disabled-hover-color: ;
// $btn-info-disabled-hover-border: ;
// $btn-info-badge-color: ;
// $btn-info-badge-bg: ;

$navbar-dark-color: #fff;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;


$hr-border-color: #a02871;

$bg-dark: #261122;
$bg-light: #f4dded;

$card-border-color: #bc2f84;

$table-border-color: #a82a76;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$input-color: #555555;
$input-bg: #f4dded;
$input-border-color: #e4afd3;
$input-border-top-color: #e4afd3;
$input-border-right-color: #fff;
$input-border-bottom-color: #fff;
$input-border-left-color: #e4afd3;

$dropdown-bg: #8e286a; //#c82b8b;
$dropdown-border-color: rgba(0, 0, 0, 0.15);

$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f9f9f9;
$dropdown-link-hover-bg: #742157;
$dropdown-link-active-color: #ffffff;
$dropdown-link-active-bg: #2e1f39;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$nav-tabs-link-color: #000;
$nav-tabs-link-bg: $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: $dropdown-link-hover-bg;


$nav-pills-link-active-bg: #a02871;
$pagination-color: #a02871;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #a02871;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #a02871;
$pagination-active-border-color: #a02871;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

$theme-colors: (
        "light":			#ffffff,
        "dark":				#261122
);

$enable-gradients: true;
$enable-shadows: true;
// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
//$bg-light-alt: #117485 !important;

$side-column-heading-color: #bc2f84;

$middle_outer-inset-shadow-bg: #261122;
$footer_liner-card-inner-border: #a52873;

$footer-accent-color: $input-border-color;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #a02871;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #3b284a;

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

//.topbar, .navbar-dark, .topbar .navbar-dark .navbar-nav > li, .topbar .nav > li,
//.bg-dark
.header_outer,
.layout_basic #top_modules,
.postbody-title,
.tiki > .navbar.fixed-top.bg-dark {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#642759+0,732860+19,92286b+43,a32872+67,a52873+100 */
  background: #642759 !important; /* Old browsers */
  background: -moz-linear-gradient(left,  #642759 0%, #732860 19%, #92286b 43%, #a32872 67%, #a52873 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #642759 0%,#732860 19%,#92286b 43%,#a32872 67%,#a52873 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #642759 0%,#732860 19%,#92286b 43%,#a32872 67%,#a52873 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#642759', endColorstr='#a52873',GradientType=1 ); /* IE6-9 */
}

$enable-gradients: true;
$chosen-container-multi-choices-bg: #ffffff;
$chosen-container-multi-choices-color: #555555;
$chosen-container-multi-choices-border: #e4afd3;
$chosen-container-single-bg: #f8f9d4;
$chosen-container-single-color: #555555;
$chosen-container-single-border: #e4afd3;
$chosen-container-single-input-bg: #f8f9d4;
$chosen-container-single-input-border: #e4afd3;
$chosen-container-chosen-results-li-highlighted-bg: #2e1f39;
$chosen-container-chosen-results-li-highlighted-color: #f2f2f2;
$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #8e286a;
$autotoc-color: #8e286a;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #2e1f39;
$middle_outer-inset-shadow-bg: #261122;