/*  The Grape theme option file for the FiveAlive-lite theme of Tiki Wiki CMS Groupware. */
body.layout_social.tiki.navbar-padding {
  padding-top: 2.72rem;
  padding-bottom: 0; }

.middle_outer {
  -webkit-box-shadow: inset 0 28px 0 0 #8e286a;
  -moz-box-shadow: inset 0 28px 0 0 #8e286a;
  box-shadow: inset 0 28px 0 0 #8e286a; }

.middle .topbar {
  font-size: 0.925rem; }

nav.fixed-top {
  border-bottom: 5px solid #000; }

.navbar.navbar-dark.bg-dark.fixed-top, .navbar.navbar-dark.bg-dark.fixed-top .navbar {
  padding: 0; }

.header_outer, .header_outer .navbar-dark.bg-dark, .navbar.navbar-dark.bg-dark.fixed-top, .navbar.navbar-dark.bg-dark.fixed-top .navbar-dark.bg-dark {
  background: #8e286a !important; }

.navbar.navbar-dark.bg-dark.fixed-top a, .navbar.navbar-dark.bg-dark.fixed-top .btn-link {
  color: #fff; }

.layout_basic .page-header > .top_modules, .topbar .navbar-dark .navbar-nav > li, .topbar .nav > li {
  background: #8e286a; }

.bg-dark {
  background-color: #8e286a !important; }

a, .btn-link {
  color: #a02871; }

a:hover, .btn-link:hover, a:focus, .btn-link:focus {
  color: #a02871; }

.btn-primary {
  color: #fff;
  background-color: #a02871;
  border-color: #8e286a; }

.btn-primary:hover {
  color: #fff;
  background-color: #661d4c;
  border-color: #5e1b46; }

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #8e286a;
  border-color: #8e286a; }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #661d4c;
  border-color: #5e1b46; }
/*
 .btn-secondary {
 color: #fff;
 background-color: $btn-secondary-bg;
 border-color: $btn-secondary-border;
 }
 .btn-secondary:hover {
 color: #fff;
 background-color: $btn-secondary-hover-bg;
 border-color: $btn-secondary-hover-border;
 }
 .btn-secondary.disabled, .btn-secondary:disabled {
 color: #fff;
 background-color: $btn-secondary-disabled-bg;
 border-color: $btn-secondary-disabled-border;
 }
 .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
 .show > .btn-secondary.dropdown-toggle {
 color: #fff;
 background-color: $btn-secondary-active-bg;
 border-color: $btn-secondary-active-border;
 }*/
.btn-info {
  color: #282828;
  background-color: #e5d7dc;
  border-color: #e5d0cf; }

.btn-info:hover {
  color: #282828;
  background-color: #f9f6f7;
  border-color: #f7f0f0; }

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  background-color: #dbc8ce; }

.nav-tabs .nav-link {
  color: #555;
  background-color: #f4dded;
  border-color: #e4afd3 #e4afd3 #fff; }

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #282828;
  background-color: #dbc8ce; }

hr {
  border-top: 1px solid #a02871; }

.table th, .table td {
  border-top: 1px solid #a82a76; }

.table > thead > tr > th {
  border-bottom: 2px solid #a82a76; }

.table > tbody + tbody {
  border-top: 2px solid #a82a76; }

.table .table {
  background-color: #fff; }

.table .table-bordered {
  border: 1px solid #a82a76; }

.table .table-bordered th, .table .table-bordered td {
  border: 1px solid #a82a76; }

.table .table-striped > tbody > tr:nth-child(odd) > td, .table .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9; }

.table .table-hover > tbody > tr:hover > td, .table .table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5; }

.form-control {
  color: #555;
  background-color: #f4dded;
  background-image: none;
  border: 1px solid #e4afd3; }

.navbar-dark .navbar-brand, .dropdown-item, .dropdown-item a, .dropdown-menu .tikihelp {
  color: #fff; }

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent; }

.navbar-dark .navbar-nav > li > a:hover, .navbar-dark .navbar-nav > li > a:focus {
  color: #f9f9f9; }

.navbar-dark .navbar-nav > .active > a, .navbar-dark .navbar-nav > .active > a:hover, .navbar-dark .navbar-nav > .active > a:focus {
  color: #fff; }

.navbar-dark .navbar-nav > .disabled > a, .navbar-dark .navbar-nav > .disabled > a:hover, .navbar-dark .navbar-nav > .disabled > a:focus {
  color: #fff;
  background-color: transparent; }

.navbar-dark .navbar-toggle {
  border-color: #ddd; }

.navbar-dark .navbar-toggle:hover, .navbar-dark .navbar-toggle:focus {
  background-color: #ddd; }

.navbar-dark .navbar-toggle .icon-bar {
  background-color: #888; }

.navbar-dark .navbar-collapse, .navbar-dark .navbar-form {
  border-color: transparent; }

.navbar-dark .navbar-nav > .open > a, .navbar-dark .navbar-nav > .open > a:hover, .navbar-dark .navbar-nav > .open > a:focus {
  color: #fff; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff; }

.navbar-dark .navbar-link:hover {
  color: #f9f9f9; }

.navbar .navbar {
  background: transparent !important; }

.dropdown-menu {
  background-color: #8e286a;
  border: 1px solid rgba(0, 0, 0, 0.15); }

.dropdown-item, .dropdown-item a, .dropdown-item .btn.btn-link {
  color: #fff; }
  .dropdown-item:hover, .dropdown-item a:hover, .dropdown-item .btn.btn-link:hover, .dropdown-item:focus, .dropdown-item a:focus, .dropdown-item .btn.btn-link:focus {
    color: #f2f2f2;
    background: #742157; }
  .dropdown-item:active, .dropdown-item a:active, .dropdown-item .btn.btn-link:active, .dropdown-item.active, .dropdown-item a.active, .dropdown-item .btn.btn-link.active {
    color: #f2f2f2;
    background: #2e1f39; }
  .dropdown-item.disabled, .dropdown-item a.disabled, .dropdown-item .btn.btn-link.disabled, .dropdown-item:disabled, .dropdown-item a:disabled, .dropdown-item .btn.btn-link:disabled {
    color: #f2f2f2; }
  .dropdown-item .dropdown-header, .dropdown-item a .dropdown-header, .dropdown-item .btn.btn-link .dropdown-header {
    color: #fff; }
  .dropdown-item .dropdown-divider, .dropdown-item a .dropdown-divider, .dropdown-item .btn.btn-link .dropdown-divider {
    background: #8e286a; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #a02871; }

.pagination > li > a, .pagination > li > span {
  color: #a02871;
  background-color: #fff;
  border: 1px solid #ddd; }

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #a02871;
  background-color: #eee;
  border-color: #ddd; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #fff;
  background-color: #a02871;
  border-color: #a02871; }

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #999;
  background-color: #fff;
  border-color: #ddd; }

.col2 .card-header, .col3 .card-header {
  border-bottom: 1px solid #bc2f84; }

header.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none; }

header.page-header a, header.page-header a.btn-link {
  color: #fff !important; }

.form-control, select, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="search"], input[type="number"], input#login-pass, textarea, .adminoptionbox option {
  background-color: #f4dded;
  border-color: #e4afd3 #fff #fff #e4afd3; }

input[type="checkbox"].preffilter-toggle-round:checked + label::before {
  background: #eabedd; }

#footer {
  background: black;
  color: #f4f4f4;
  padding: 1px 0 2px 0;
  width: 100%; }

.footer {
  border-top: 1px solid #e4afd3;
  border-bottom: 1px solid #e4afd3; }

.footer_liner .card {
  background-color: transparent;
  border: none; }
  .footer_liner .card-header {
    color: #fff;
    border-bottom: 1px dotted #e4afd3; }
  .footer_liner legend, .footer_liner a, .footer_liner a:visited {
    color: #a9a9a9; }

.nav-tabs .nav-link {
  color: #000;
  background-color: #f4dded;
  border-color: #dee2e6 #dee2e6 #fff; }

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #742157; }

.topbar .cssmenu_horiz ul {
  background: #8e286a; }

.postbody-title .title > .card-title a.link, .card-header a {
  color: #fff; }

.blog-postbody-title h2.panel-title {
  font-size: 20px; }

.postbody .card-header {
  background: #f4dded; }

.siteloginbar_popup .dropdown-menu > li > a {
  color: #fff; }

header.header .sitetitle, header.header .sitesubtitle {
  text-shadow: none; }

.searchresults blockquote em, .highlight {
  background: #f2dede;
  color: #a94442;
  border-color: #ebccd1; }

.cssmenu_horiz li ul, .cssmenu_vert li ul {
  background-color: #8e286a;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.cssmenu_horiz li ul > li > a, .cssmenu_vert li ul > li > a {
  padding: 3px 20px;
  font-weight: normal;
  color: #fff;
  background: #8e286a; }

.cssmenu_horiz > li > a:hover, .cssmenu_vert > li > a:hover, .cssmenu_horiz ul > li > a:hover, .cssmenu_vert ul > li > a:hover, .cssmenu_horiz > li > a:focus, .cssmenu_vert > li > a:focus, .cssmenu_horiz ul > li > a:focus, .cssmenu_vert ul > li > a:focus {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #742157; }

.topbar .navbar-nav > li > a, .topbar .navbar > li > a, .topbar .cssmenu_horiz > li > a {
  color: #fff; }

.chosen-container-multi .chosen-choices {
  background-color: #f4dded;
  color: #555;
  border: 1px solid #e4afd3; }

.chosen-container-single .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single, .chosen-container .chosen-drop, .chosen-container-multi .chosen-choices .search-choice {
  background-color: #f4dded;
  color: #555;
  border: 1px solid #e4afd3; }

.chosen-container-single .chosen-search input[type="text"] {
  background-color: #f4dded;
  border: 1px solid #e4afd3; }

.chosen-container .chosen-results li.highlighted {
  background-color: #003c4a;
  color: #f2f2f2; }

.autotoc > .nav {
  background: #fff; }

.autotoc * {
  color: #8e286a; }

.autotoc .nav > li > a:hover, .autotoc .nav .nav > li > a:hover {
  color: #f2f2f2;
  background: #3b284a; }

#col2 .card-title, #col3 .card-title, a.flipmoduletitle, #col2 .card-secondary > .card-header a, #col3 .card-secondary > .card-header a {
  color: #bc2f84; }

footer#footer .footer_liner {
  border-top: 1px solid #e4afd3;
  border-bottom: 1px solid #e4afd3; }
  footer#footer .footer_liner .card-header {
    border-bottom: 1px dotted #a52873; }
