// $Id$
// This file contains CSS rules for this theme that aren't covered by Bootstrap, such as additional Tiki theme properties.
// To do: Use variables for global Tiki properties and customize a Tiki variables file per-theme.
$imagePath: "../images/";
// image path use example:
//  body {
//	background-image: url('#{$imagePath}bg.jpg');
//  }

.pagetitle a {
  color: $body-color;
}

$topmodules-row-sidemargins: 0;
$topbar-row-sidemargins: -15px;

//body > .container {
//	border: 1px solid #aaaaaa;
//	margin-top: 18px;
//	margin-bottom: 18px;
//}

.container:not(.in-navbar)  {
  background: #fbfbfb;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

//

.bg-dark,
.topbar.bg-dark {
  background: #efefef !important;
}

.navbar-dark {
  color: #333;
}

.navbar-nav {
  display: flex;
}

.navbar .nav-item {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  text-align: center;
}

.navbar .nav-link {
  font-family: Mukta, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .875rem;
  border-left: 1px solid #fff;
  border-bottom: 3px solid #09c;
}

.navbar .nav-link:hover {
//  color: #ff5c1a;
  border-bottom-color: #ff5c1a;
}

.cssmenu_horiz li.selected a,
.cssmenu_horiz li.selected a:hover,
.cssmenu_vert li.selected a {
	text-decoration: none;
	color: $navbar-light-hover-color;
//	background-color: //$navbar-default-link-active-bg  //Deprecated?;
}

.middle_outer {
  -webkit-box-shadow: inset 0 45px 0 0 #efefef;
  -moz-box-shadow: inset 0 45px 0 0 #efefef;
  box-shadow: inset 0 45px 0 0 #efefef;
}
//#col1 {
//	margin-left: -1px;
//	margin-right: -1px;
//}

//#col2 {
//	margin-right: -1px;
//	margin-left: -1px;
//	.content {
//		margin-left: -15px;
//		margin-right: -15px;
//	  .card.module {
//		margin-left: -1px;
//		margin-right: -1px;
//	  }
//	}
//}

//#col3 {
//  margin-left: -1px;
//	margin-right: -1px;
//	.content {
//		margin-left: -15px;
//		margin-right: -15px;
//	}
//}

//#col1,
//#col2,
//#col3 {
//	border: 1px solid #aaaaaa;
//	/*border-width: 0 1px;*/
//}

//#col3 {
//	border-right-width: 0;
//}

//h3.card-title {
//	color: black;
//	font: 90% ;
//	font-weight: bold;
//	/*  height: 18px;
//	  margin: 0px 0px 7px 1em;
//	  padding: 0px;*/
//	text-transform: uppercase;
//}
.module .card-header {
  background: top left #eae9e0;
  height: .5em;
  text-align: center;
  margin: 0;
  overflow-y: visible;
  margin-bottom: 1rem;
}

.module h3.card-title {
  font-family: Mukta, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
//  line-height: 1.8;
  margin: 0 auto;
  position: relative;
  max-width: 90%;
  font-size: .75rem ;
  top: -13px;
  color: #666 !important;
  span.moduletitle {
	padding: .125em .5em;
	background: #fbfbfb;
  }
}



#col2 .card,
#col3 .card,
#col2 .card .card-header,
#col3 .card .card-header {
	border: none;
}

.card-header {
	padding: 10px 15px 0 10px;
}

body.fullscreen {
	.container,
	#col1 {
		border: none;
	}
}
