// $Id$ Custom variables for the Watermelon theme option of the FiveAlive and FiveAlive-lite themes

$bg-dark: #a51e37;
$link-color: #c21e3b;
$link-hover-color: #ee2e52;
$btn-primary-color: #ffffff;
$btn-primary-bg: #e1360d;
$btn-primary-border: #e78c77;
$btn-primary-focus-color: #ffffff;
$btn-primary-focus-bg: #97172e;
$btn-primary-border: #bc213d;
$btn-primary-hover-color: #ffffff;
$btn-primary-hover-bg: #97172e;
$btn-primary-hover-border: #de425e;
$btn-primary-active-color: #ffffff;
$btn-primary-active-bg: #97172e;
$btn-primary-active-border: #de425e;
$btn-primary-active-hover-bg-color: #781224;
$btn-primary-active-hover-border: #bc213d;
$btn-primary-disabled-hover: #e1640b;
$btn-primary-disabled-border: #e7768a;
$btn-primary-badge-color: #e1360d;
$btn-primary-badge-bg: #ffffff;
// $btn-secondary-color: ;
// $btn-secondary-bg: ;
// $btn-secondary-border: ;
// $btn-secondary-focus-color: ;
// $btn-secondary-focus-bg: ;
// $btn-secondary-focus-border: ;
// $btn-secondary-hover-color: ;
// $btn-secondary-hover-color: ;
// $btn-secondary-hover-border: ;
// $btn-secondary-active-color: ;
// $btn-secondary-active-bg: ;
// $btn-secondary-active-border: ;
// $btn-secondary-active-hover: ;
// $btn-secondary-active-hover-border: ;
// $btn-secondary-disabled-hover-color: ;
// $btn-secondary-disabled-hover-border: ;
// $btn-secondary-badge-color: ;
// $btn-secondary-badge-bg: ;

$btn-info-color: #282828;
$btn-info-bg: #e5d7dc;
$btn-info-border: #e5d0cf;
// $btn-info-focus-color: ;
// $btn-info-focus-bg: ;
// $btn-info-focus-border: ;
$btn-info-hover-color: $btn-info-color;
$btn-info-hover-bg: lighten($btn-info-bg, 10%);
$btn-info-hover-border: lighten($btn-info-border, 10%);
// $btn-info-active-color: ;
$btn-info-active-bg: darken($btn-info-bg, 5%);
// $btn-info-active-border: ;
// $btn-info-active-hover: ;
// $btn-info-active-hover-border: ;
// $btn-info-disabled-hover-color: ;
// $btn-info-disabled-hover-border: ;
// $btn-info-badge-color: ;
// $btn-info-badge-bg: ;

$navbar-dark-color: #fff;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;


$hr-border-color: #faada1;

$navbar-fixed-top-bg: #a51e37;
$bg-dark: #a51e37;
$bg-light: #e71e40;
$card-border-color: #49006c;
$table-border-color: #faada1;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$input-color: #555555;
$input-bg: #ffdace;
$input-border-color: #faada1;
$input-border-top-color: #faada1;
$input-border-right-color: #fcf6f9;
$input-border-bottom-color: #fcf6f9;
$input-border-left-color: #faada1;

$dropdown-bg: #e71e40; // #771437
$dropdown-border-color: rgba(0, 0, 0, 0.15);

$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f9f9f9;
$dropdown-link-hover-bg: #a61a32; // #61102d
$dropdown-link-active-color: #ffffff;
$dropdown-link-active-bg: $dropdown-link-hover-bg; // #61102d
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$nav-tabs-link-color: #000;
$nav-tabs-link-bg: $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: $dropdown-link-hover-bg;

$nav-pills-link-active-bg: #b51360;
$pagination-color: #b51360;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #b51360;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #b51360;
$pagination-active-border-color: #b51360;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

$theme-colors: (
		"light":			#e71e40,
		"dark":				#a51e37
);

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
$bg-light-alt: #851e0e !important;

$side-column-heading-color: #6c0c02;

$middle_outer-inset-shadow-bg: #35061d;
$footer_liner-card-inner-border: #b51360;

$footer-accent-color: #b51360;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #771437;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #61102d;

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.header_outer,
.layout_basic #top_modules,
.postbody-title,
.tiki > .navbar.fixed-top.bg-light/*,
.tiki > .fixed-top.bg-light*/ {
 }

//.bg-dark {background: #35061d !important; }
$chosen-container-multi-choices-bg: #ffffff;
$chosen-container-multi-choices-color: #555555;
$chosen-container-multi-choices-border: #fb999e;
$chosen-container-single-bg: #f9dfe2;
$chosen-container-single-color: #555555;
$chosen-container-single-border: #fb999e;
$chosen-container-single-input-bg: #f9dfe2;
$chosen-container-single-input-border: #fb999e;
$chosen-container-chosen-results-li-highlighted-bg: #76142a;
$chosen-container-chosen-results-li-highlighted-color: #f2f2f2;
$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #e71e40;
$autotoc-color: #c21e3b;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #76142a;
$middle_outer-inset-shadow-bg: #e71e40;
