// $Id$
//Custom styles for the FiveAliveHS Orange option theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$light: #e77d4f;

$bg-light: #e77d4f !important;

$link-color: #c74b23;
$link-hover-color: #e77d4f;

$btn-primary-color: #ffffff;
$btn-primary-bg: #ed6223;
$btn-primary-border: #ebac91;
$btn-primary-focus-color: #ffffff;
$btn-primary-focus-bg: #e15c22;
$btn-primary-border: #d65b27;
$btn-primary-hover-color: #ffffff;
$btn-primary-hover-bg: #e15c22;
$btn-primary-hover-border: #e2855d;
$btn-primary-active-color: #ffffff;
$btn-primary-active-bg: #e15c22;
$btn-primary-active-border: #e2855d;
$btn-primary-active-hover-bg-color: #c54e1b;
$btn-primary-active-hover-border: #d65b27;
$btn-primary-disabled-hover: #ed6223;
$btn-primary-disabled-border: #ebac91;
$btn-primary-badge-color: #ed6223;
$btn-primary-badge-bg: #ffffff;

// $btn-secondary-bg: #e77d4f;
// $btn-secondary-border: #ebac91;
// $btn-secondary-focus-bg: #e15c22;
// $btn-secondary-focus-border: #d65b27;
// $btn-secondary-hover-bg: #e15c22;
// $btn-secondary-border: #c54e1b;
// $btn-secondary-active-bg: #e15c22;
// $btn-secondary-border: #c54e1b;
// $btn-secondary-active-hover-bg: #c54e1b;
// $btn-secondary-active-hover-border: #d65b27;
// $btn-secondary-disabled-hover-color: #e77d4f;
// $btn-secondary-disabled-hover-border: #ebac91;
// $btn-secondary-badge-color: #e77d4f;
// $btn-secondary-bg-color: #ffffff;

$btn-info-color: #fff;
$btn-info-bg: #e5d7dc;
$btn-info-border: #e5d0cf;
// $btn-info-focus-color: ;
// $btn-info-focus-bg: ;
// $btn-info-focus-border: ;
$btn-info-hover-color: $btn-info-color;
$btn-info-hover-bg: lighten($btn-info-bg, 10%);
$btn-info-hover-border: lighten($btn-info-border, 10%);
// $btn-info-active-color: ;
$btn-info-active-bg: $btn-info-bg;
// $btn-info-active-border: ;
// $btn-info-active-hover: ;
// $btn-info-active-hover-border: ;
// $btn-info-disabled-hover-color: ;
// $btn-info-disabled-hover-border: ;
// $btn-info-badge-color: ;
// $btn-info-badge-bg: ;

$navbar-dark-color: #fff;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;


$hr-border-color: #e77d4f;

$navbar-fixed-top-bg: #a53723;
$bg-dark: #ec6223;
$bg-light: #ec6223;
$card-border-color: #e77d4f;
$table-border-color: #e77d4f;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$input-color: #555555;
$input-bg: #f8e4dd;
$input-border-color: #fac5b1;
$input-border-top-color: #fac5b1;
$input-border-right-color: #fbf1ed;
$input-border-bottom-color: #fbf1ed;
$input-border-left-color: #fac5b1;

$dropdown-bg: #c44a23;
$dropdown-border-color: rgba(0, 0, 0, 0.15);

$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #e36732;
$dropdown-link-active-color: $dropdown-link-color;
$dropdown-link-active-bg: #ae421f;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$nav-tabs-link-color: #000;
$nav-tabs-link-bg: $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: $dropdown-link-hover-bg;


$nav-pills-link-active-bg: #c74b23;
$pagination-color: #c74b23;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #e77d4f;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #c74b23;
$pagination-active-border-color: #c74b23;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

$theme-colors: (
		"light":			#ffffff,
		"dark":				#33140a
);

$enable-gradients: true;
$enable-shadows: true;
// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
//$bg-light-alt: #117485 !important;

$side-column-heading-color: #e77d4f;

$middle_outer-inset-shadow-bg: #33140a;
$footer_liner-card-inner-border: #ebdc14;

$footer-accent-color: #ebdc14;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #e77d4f;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #ae421f;

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.header_outer,
.layout_basic #top_modules,
.postbody-title,
.tiki > .navbar.fixed-top.bg-dark,
//.topbar, .navbar-dark, .topbar .navbar-dark .navbar-nav > li, .topbar .nav > li,
.bg-dark {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c44a23+0,c64b23+10,dc5823+34,e96023+58,f06423+87,f06423+100 */
  background: #c44a23 !important; /* Old browsers */
  background: -moz-linear-gradient(left,  #c44a23 0%, #c64b23 10%, #dc5823 34%, #e96023 58%, #f06423 87%, #f06423 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #c44a23 0%,#c64b23 10%,#dc5823 34%,#e96023 58%,#f06423 87%,#f06423 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #c44a23 0%,#c64b23 10%,#dc5823 34%,#e96023 58%,#f06423 87%,#f06423 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44a23', endColorstr='#f06423',GradientType=1 ); /* IE6-9 */
}

//.bg-dark {background: #33140a !important; }
$chosen-container-multi-choices-bg: #ffffff;
$chosen-container-multi-choices-color: #555555;
$chosen-container-multi-choices-border: #fac5b1;
$chosen-container-single-bg: #f8e4dd;
$chosen-container-single-color: #555555;
$chosen-container-single-border: #fac5b1;
$chosen-container-single-input-bg: #f8e4dd;
$chosen-container-single-input-border: #fac5b1;
$chosen-container-chosen-results-li-highlighted-bg: #ae421f;
$chosen-container-chosen-results-li-highlighted-color: #f2f2f2;
$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #ec6223;
$autotoc-color: #c74b23;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #ae421f;
$middle_outer-inset-shadow-bg: #33140a;