.header_outer, .layout_basic #top_modules, .postbody-title, .tiki > .navbar.fixed-top.bg-dark, .bg-dark {
  background: #797922 !important;
  background: -moz-linear-gradient(left, #797922 0%, #b1b129 100%) !important;
  background: -webkit-linear-gradient(left, #797922 0%, #b1b129 100%) !important;
  background: linear-gradient(to right, #797922 0%, #b1b129 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#797922', endColorstr='#b1b129',GradientType=1); }

.bg-dark {
  background: #005064 !important; }

.middle_outer {
  -webkit-box-shadow: inset 0 54px 0 0 #313109;
  -moz-box-shadow: inset 0 54px 0 0 #313109;
  box-shadow: inset 0 54px 0 0 #313109; }

.layout_basic #topbar_modules.bg-dark, .topbar, .navbar-dark, .topbar .navbar-dark .navbar-nav > li, .topbar .nav > li {
  background: #313109; }

a, .btn-link {
  color: #638637; }

a:hover, .btn-link:hover, a:focus, .btn-link:focus {
  color: #baba25; }

.btn-primary {
  color: #fff;
  background-color: #baba25;
  border-color: #dacc1b;
  background: #baba25 linear-gradient(180deg, #d8d83a, #a5a521) repeat-x; }

.btn-primary:hover {
  color: #fff;
  background: #918f1b linear-gradient(180deg, #bcb923, #7c7a17) repeat-x;
  border-color: #44c7db; }

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #dacc1b;
  border-color: #dacc1b; }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #918f1b;
  border-color: #44c7db; }
/*
 .btn-secondary {
 color: #fff;
 background-color: $btn-secondary-bg;
 border-color: $btn-secondary-border;
 }
 .btn-secondary:hover {
 color: #fff;
 background-color: $btn-secondary-hover-bg;
 border-color: $btn-secondary-hover-border;
 }
 .btn-secondary.disabled, .btn-secondary:disabled {
 color: #fff;
 background-color: $btn-secondary-disabled-bg;
 border-color: $btn-secondary-disabled-border;
 }
 .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
 .show > .btn-secondary.dropdown-toggle {
 color: #fff;
 background-color: $btn-secondary-active-bg;
 border-color: $btn-secondary-active-border;
 }*/
.btn-info {
  color: #fff;
  background-color: #e5d7dc;
  border-color: #e5d0cf; }

.btn-info:hover {
  color: #fff;
  background-color: #f9f6f7;
  border-color: #f7f0f0; }

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  background-color: #e5d7dc; }

.nav-tabs .nav-link {
  color: #343a40;
  background-color: #f8f9d4;
  border-color: #f5fb86 #f5fb86 #fff; }

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #e5d7dc; }

hr {
  border-top: 1px solid #baba25; }

.table th, .table td {
  border-top: 1px solid #dbd11a; }

.table > thead > tr > th {
  border-bottom: 2px solid #dbd11a; }

.table > tbody + tbody {
  border-top: 2px solid #dbd11a; }

.table .table {
  background-color: #fff; }

.table .table-bordered {
  border: 1px solid #dbd11a; }

.table .table-bordered th, .table .table-bordered td {
  border: 1px solid #dbd11a; }

.table .table-striped > tbody > tr:nth-child(odd) > td, .table .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9; }

.table .table-hover > tbody > tr:hover > td, .table .table-hover > tbody > tr:hover > th {
  background-color: #dbd11a; }

.form-control {
  color: #343a40;
  background-color: #f8f9d4;
  background-image: none;
  border: 1px solid #f8f9d4; }

.navbar-dark .navbar-brand, .dropdown-item, .dropdown-item a, .dropdown-menu .tikihelp {
  color: #fff; }

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent; }

.bg-dark .navbar-nav .nav-link {
  color: #fff; }
  .bg-dark .navbar-nav .nav-link:hover, .bg-dark .navbar-nav .nav-link:focus {
    color: #f2f2f2;
    background: #638637; }

.navbar-dark .navbar-nav > li > a:hover, .navbar-dark .navbar-nav > li > a:focus {
  color: #f9f9f9; }

.navbar-dark .navbar-nav > .active > a, .navbar-dark .navbar-nav > .active > a:hover, .navbar-dark .navbar-nav > .active > a:focus {
  color: #fff; }

.navbar-dark .navbar-nav > .disabled > a, .navbar-dark .navbar-nav > .disabled > a:hover, .navbar-dark .navbar-nav > .disabled > a:focus {
  color: #fff;
  background-color: transparent; }

.navbar-dark .navbar-toggle {
  border-color: #ddd; }

.navbar-dark .navbar-toggle:hover, .navbar-dark .navbar-toggle:focus {
  background-color: #ddd; }

.navbar-dark .navbar-toggle .icon-bar {
  background-color: #888; }

.navbar-dark .navbar-collapse, .navbar-dark .navbar-form {
  border-color: transparent; }

.navbar-dark .navbar-nav > .open > a, .navbar-dark .navbar-nav > .open > a:hover, .navbar-dark .navbar-nav > .open > a:focus {
  color: #fff; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff; }

.navbar-dark .navbar-link:hover {
  color: #f9f9f9; }

.navbar .navbar {
  background: transparent !important; }

.dropdown-menu {
  background-color: #baba25;
  border: 1px solid rgba(0, 0, 0, 0.15); }

.dropdown-item, .dropdown-item a, .dropdown-item .btn.btn-link {
  color: #fff; }
  .dropdown-item:hover, .dropdown-item a:hover, .dropdown-item .btn.btn-link:hover, .dropdown-item:focus, .dropdown-item a:focus, .dropdown-item .btn.btn-link:focus {
    color: #f2f2f2;
    background: #638637; }
  .dropdown-item:active, .dropdown-item a:active, .dropdown-item .btn.btn-link:active, .dropdown-item.active, .dropdown-item a.active, .dropdown-item .btn.btn-link.active {
    color: #f2f2f2;
    background: #638637; }
  .dropdown-item.disabled, .dropdown-item a.disabled, .dropdown-item .btn.btn-link.disabled, .dropdown-item:disabled, .dropdown-item a:disabled, .dropdown-item .btn.btn-link:disabled {
    color: #f2f2f2; }
  .dropdown-item .dropdown-header, .dropdown-item a .dropdown-header, .dropdown-item .btn.btn-link .dropdown-header {
    color: #fff; }
  .dropdown-item .dropdown-divider, .dropdown-item a .dropdown-divider, .dropdown-item .btn.btn-link .dropdown-divider {
    background: #baba25; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #638637; }

.pagination > li > a, .pagination > li > span {
  color: #638637;
  background-color: #fff;
  border: 1px solid #ddd; }

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #baba25;
  background-color: #eee;
  border-color: #ddd; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #fff;
  background-color: #638637;
  border-color: #638637; }

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #999;
  background-color: #fff;
  border-color: #ddd; }

.col2 .card-header, .col3 .card-header {
  border-bottom: 1px solid #cdbe23; }

header.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none; }

header.page-header a, header.page-header a.btn-link {
  color: #fff !important; }

.form-control, select, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="search"], input[type="number"], input#login-pass, textarea, .adminoptionbox option {
  background-color: #f8f9d4;
  border-color: #f5fb86 #fff #fff #f5fb86; }

input[type="checkbox"].preffilter-toggle-round:checked + label::before {
  background: #f2f4b0; }

#footer {
  background: black;
  color: #f4f4f4;
  padding: 1px 0 2px 0;
  width: 100%; }

.footer {
  border-top: 1px solid #ebdc14;
  border-bottom: 1px solid #ebdc14; }

.footer_liner .card-header {
  color: #fff;
  border-bottom: 1px dotted #ebdc14; }

.footer_liner legend, .footer_liner a, .footer_liner a:visited {
  color: #ebdc14; }

.nav-tabs .nav-link {
  color: #000;
  background-color: #f8f9d4;
  border-color: #dee2e6 #dee2e6 #fff; }

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #638637; }

.topbar .cssmenu_horiz ul {
  background: #baba25; }

.postbody-title .title > .card-title a.link, .card-header a {
  color: #fff; }

.blog-postbody-title h2.panel-title {
  font-size: 20px; }

.postbody .card-header {
  background: #baba25; }

.siteloginbar_popup .dropdown-menu > li > a {
  color: #fff; }

header.header .sitetitle, header.header .sitesubtitle {
  text-shadow: none; }

.searchresults blockquote em, .highlight {
  background: #f2dede;
  color: #a94442;
  border-color: #ebccd1; }

.cssmenu_horiz li ul, .cssmenu_vert li ul {
  background-color: #baba25;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.cssmenu_horiz li ul > li > a, .cssmenu_vert li ul > li > a {
  padding: 3px 20px;
  font-weight: normal;
  color: #fff;
  background: #baba25; }

.cssmenu_horiz > li > a:hover, .cssmenu_vert > li > a:hover, .cssmenu_horiz ul > li > a:hover, .cssmenu_vert ul > li > a:hover, .cssmenu_horiz > li > a:focus, .cssmenu_vert > li > a:focus, .cssmenu_horiz ul > li > a:focus, .cssmenu_vert ul > li > a:focus {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #638637; }

.topbar .navbar-nav > li > a, .topbar .navbar > li > a, .topbar .cssmenu_horiz > li > a {
  color: #fff; }

.chosen-container-multi .chosen-choices {
  background-color: #f8f9d4;
  color: #343a40;
  border: 1px solid #f8f9d4; }

.chosen-container-single .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single, .chosen-container .chosen-drop, .chosen-container-multi .chosen-choices .search-choice {
  background-color: #f8f9d4;
  color: #343a40;
  border: 1px solid #f8f9d4; }

.chosen-container-single .chosen-search input[type="text"] {
  background-color: #f8f9d4;
  border: 1px solid #f8f9d4; }

.chosen-container .chosen-results li.highlighted {
  background-color: #003c4a;
  color: #f2f2f2; }

.autotoc > .nav {
  background: #fff; }

.autotoc * {
  color: #638637; }

.autotoc .nav > li:hover > a, .autotoc .nav .nav > li:hover > a {
  display: block;
  color: #f2f2f2;
  background: #587631; }

#col2 .card-title, #col3 .card-title, a.flipmoduletitle, #col2 .card-secondary > .card-header a, #col3 .card-secondary > .card-header a {
  color: #cdbe23; }

.footer_liner {
  border-top: 1px solid #ebdc14;
  border-bottom: 1px solid #ebdc14; }

.footer-liner .card-header {
  border-bottom: 1px dotted #ebdc14; }
